# don't allow anyone to look inside email scripts, which contain private info
<Files "email_*.php">
    <LimitExcept POST>
        Order Allow,Deny
        Deny from all
    </LimitExcept>
</Files>

# <Files "email_*.txt">
#     <LimitExcept POST>
#         Order Allow,Deny
#         Deny from all
#     </LimitExcept>
# </Files>

# could also use this, but it seems expensive/overkill
# <IfModule mod_rewrite.c>
#     RewriteCond %{REQUEST_METHOD} !POST
#     RewriteCond %{REQUEST_URI} email.php [NC]
#     RewriteRule .* - [F,L]
# </IfModule>