// colors
$accentColor =  #2398c9
$textColor = #2c3e50
$borderColor = #eaecef
$codeBgColor = #282c34
$arrowBgColor = #ccc
$badgeTipColor = #42b983
$badgeWarningColor = darken(#ffe564, 35%)
$badgeErrorColor = #DA5961

$darkBlue = #00356b
$lightBlue = #63aaff
$navbarBgColor = $accentColor
$footerBgColor = $darkBlue

// layout
$navbarHeight = 3.6rem
$sidebarWidth = 20rem
$contentWidth = 750px
$homePageWidth = 960px

// responsive breakpoints
$MQNarrow = 959px
$MQMobile = 719px
$MQMobileNarrow = 419px